@{
    ViewBag.Title = "Contact Author";
}
<link rel="stylesheet" type="text/css" href="~/Content/MyAppStyle.css" />
<div class="DivPageHeader">@ViewBag.Title</div>

<div class="DivContainer">   
    <div class="DivSubHeaderContactContent">
        <strong>Author: David Duncan</strong><br />
        <strong>Linked In: </strong><a href="https://www.linkedin.com/in/david-duncan-b99893118/">LinkedIn Profile</a>
        <strong>Email:</strong> <a href="mailto:davidduncan@mweb.co.za">davidduncan@mweb.co.za</a><br />
    </div>
</div>