@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This CSV file application was written using:
        <ul>
            <li>ASP.NET MVC</li>
            <li>HTML (Version 5)</li>
            <li>Javascript</li>
            <li>Cascading Style Sheets (Version 3)</li>
        </ul>
    </p>
    <p><a href="https://www.asp.net/mvc" class="btn btn-primary btn-lg">ASP.NET MVC Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Instructions: Click on the application menu option above to get started.
        </p>
        <p><a class="btn btn-default" href="http://www.css3.info/" target="_blank">CSS3 Learn more &raquo;</a></p>
    </div>        
    <div class="col-md-4">
        <h2>Javascript</h2>
        <p>Information on Javascript can be located at this resource</p>
        <p><a class="btn btn-default" href="https://www.javascript.com/" target="_blank">Javascript Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HTML 5</h2>
        <p>Further information can be located at this resource:</p>
        <p><a class="btn btn-default" href="https://www.w3.org/html/logo/" target="_blank">HTML5 Learn more &raquo;</a></p>
    </div>
</div>